!**/src/main/**/build/
!**/src/main/**/target/
!**/src/test/**/build/
!**/src/test/**/target/
!.mvn/wrapper/maven-wrapper.jar
*.iml
*.ipr
*.iws
.DS_Store
.apt_generated
.classpath
.env.development.local
.env.local
.env.production.local
.env.test.local
.factorypath
.idea
.pnp.js
.project
.settings
.springBeans
.sts4-cache
.vscode/
/.nb-gradle/
/.pnp
/build
/coverage
/dist/
/nbbuild/
/nbdist/
/nbproject/private/
node_modules/
HELP.md
build/
npm-debug.log*
target/
yarn-debug.log*
yarn-error.log*
