!**/src/main/**/build/
!**/src/main/**/target/
!**/src/test/**/build/
!**/src/test/**/target/
!.mvn/wrapper/maven-wrapper.jar
*.iml
*.ipr
*.iws
.apt_generated
.classpath
.factorypath
.idea
.project
.settings
.springBeans
.sts4-cache
.vscode/
/.nb-gradle/
/dist/
/nbbuild/
/nbdist/
/nbproject/private/
HELP.md
build/
target/
